.chat-box
	.chat-data
		.chat-data__chat__name	松浦展大
		.chat-data__chat__date	1111/11/11 11:11
	.chat__content	 JavaSってむずいですね、、、、
.chat-box
	.chat-data
		.chat-data__chat__name	松浦展大
		.chat-data__chat__date	1111/11/11 11:11
	.chat__content	 JavaSってむずいですね、、、、
