.contents
	.side-content
		.side-top
			.user_name 松浦展大
			.menu_button
				%t.fa.fa-edit.fa-lg.fa-new
				%i.fa.fa-cog.fa-lg.fa-setting 
		.side-bottom
			.chat_box
				%p.user_name 松浦展大
				%p.user_content コンテンツって、、、、、
			.chat_box2
				%p.user_name2 松浦展大
				%p.user_content2 コンテンツって、、、、、			
	.main-content
		.main-top
			.top_info
				.user_name 松浦展大
				.chat_members Member: nobuo, sasaki
			%button{:class => "edit_button"} EDIT
		.main-center
			.chat_content
				.chat_box
					.chat_info
						.chat_name	松浦展大
						.chat_data	1111/11/11 11:11
					.chat_content	 JavaSってむずいですね、、、、
				.chat_box
					.chat_info
						.chat_name	松浦展大
						.chat_data	1111/11/11 11:11
					.chat_content	 JavaSってむずいですね、、、、
		.main-bottom
			.content_message
				.message_content ここにメッセージを残す
				%i.fa.fa-image.fa-image 
			%input{:type => "submit", :name => "send_button", :value => "Send"}



