@mixin white-string {
	color: white;
	font-size: 15px;
}
@mixin black-string {
	color: black;
	font-size: 15px;
}
.contents {
	height: 100%;
	width: 100%;
	.side-content {
		height: 100%;
		width: 300px;
		float: left;
		.side-top {
			height: 10vh;
			width: 100%;
			background-color: #213042;
			position: relative;
				.user-name {
					float: left;
					font-size: 20px;
					color: white;
					padding: 20px 0 20px 40px;
				}
				.side__menu--button {
					position: absolute;
					top: 24px;
					right: 20px;
					.fa-new {
						color: white;
					}
					.fa-setting {
						color: white;
					}
				}
		}
		.side-bottom {
			height: calc(100vh - 10vh);
			width: 100%;
			background-color: #293c52;
				.chat-info {
					height: 100px;
					width: 200px;
					padding: 10px 0 10px 40px;
					.user__name {
						@include white-string;
					}
					.user__message {
						@include white-string;
					}
				}
		}
	}
	.main-content {
		height: 100%;
		width: calc( 100vw - 300px);
		float: left;

		.main-top {
			height: 10vh;
			width: 100%;
			background-color: #FFFFFF;
			position: relative;

			.top-info {
				.user-name {
					padding: 20px 0 0 40px;
				}
				.chat-members {
					font-size: 14px;
					opacity: 0.5;
					padding:10px 0 0 40px 
				}
			}
			.edit-button {
				height: 50px;
				width: 80px;
				font-size: 20px;
				color: #35537a;
				background-color: white;
				position: absolute;
				top: 20px;
				right: 40px;
				border: solid #35537a;
			}
			
		}
		.main-center {
			height: calc( 100vh - 20vh);
			width: 100%;
			background-color: #FAFAFA;
			.chat-content {
				height: 100px;
				.chat-box {
					height: 100px;
					width: 100%;
					padding: 10px 0 10px 0; 
					.chat-data {
						padding: 30px 0 10px 40px;
						.chat__name {
							@include black-string;
							float: left;
						}
						.chat__date {
							padding-left: 10px; 
							opacity: 0.5;
							font-size: 13px;
							float: left;
						}
					}
					.chat__content {
						@include black-string;
						clear: both;
						padding: 10px 0 10px 40px;
					}
				}
			}
		}
		.main-bottom {
			height: 10vh; 
			width: 100%;
			background-color: gray;
			position: relative;
			.content-message {
				height: 50px;
				width: 900px;
				background-color: white;
				position: absolute;
				top: 16px;
				left: 40px;
				.message-content {
					padding: 14px;
					opacity: 0.5;
				}
				.fa-image {
					position: absolute;
					top: 16px;
					right: 20px;
				}
			}
			input {
				height: 50px;
				width: 100px;
				color: #35537a;
				border: solid #35537a;
				background-color: white;
				position: absolute;
				top: 16px;
				right: 40px;
			}
		}
	}
}










